.border{
  border: solid 1px white;
  position: relative;
  width:100%;
  height:100%;
}
.border2{
  border: solid 1px white;
  position: relative;
  width:98.5%;
  height:98%;
  padding:0;
}

/*inicio-menu*/

.div-menus{
  border:solid 1px white;
  height:50px;
  width:228px;
  position: relative;
  left: 82.5%;
}

/* remove a seta no chrome e derivados*/
summary::-webkit-details-marker { 
  display: none; 
}

/*removendo seta no firefox*/
summary {
  display: block;
}

.cursor-click{
  cursor:pointer; 
}

/*posição do menu*/

.details{
  position: relative;
  left:130px;
  top:20px;
  border: solid 1px white;
  height:20px; 
  width:20px;
  z-index:5;
}

.summary{
  border: solid 1px white;
  height:20px; 
  width:20px;
}

/*imagem do menu(quadradinhos)*/
.img{
  height:20px;
  width:20px;
}

.menu{
  border: solid 1px #a6a6a6;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #a6a6a6;
  height:409px;
  overflow:auto;
  position: absolute;
  top: 65px;
  right:-260%;
  width:315px;
  z-index:2;
}

.outline{
  outline: none;
}

.item_menu{
  border: solid 3px white; 
}

.item_menu:hover{
  background: #F0F8FF;
  border: solid 3px white; 
  border-radius: 10px;
}

.border-bottom{
  border-bottom: solid 1px #e8eaed;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mais{
  border: 1px solid #dadce0;
  border-radius: 4px;
  color: #1a73e8;
  display: inline-block;
  font: 14px/16px;
  margin: 16px 0 30px 0;
  max-width: 265px;
  outline: none;
  padding: 10px 24px;
  position:absolute;
  right:25%;
  top:205%;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

.mais:hover{
  background: #F0F8FF;
}

/*fim menu*/

/*inicio-perfil*/
.limit{
  border: solid 1px white;
  position:relative;
  width:40px;
  height:40px;
  left:170px;
  top:-15px;
  z-index:6;
}
.perfil{
  border-radius: 30px;
  height:32px; 
  width:32px;
}

.border-google{
  border-bottom:2px solid green;
  border-left:2px solid rgb(235, 200, 6);
  border-right:2px solid blue;
  border-top:2px solid red;
  padding:2px;
}
.box{
  border: 1px solid #ccc;
  height: 350px;
  position: absolute;
  top: 50px;
  width:330px;
  z-index: 1;
  right: 0px;
  border-radius:8px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.conta{
  border-radius: 50%; 
  height:70px;
  width:70px;
  z-index:7;
}

.position-conta{
  position:relative;
  left:40%;
  margin:16px 0 16px;
}

.camera{
position:absolute;
right:245px;
top:40px;
z-index:8;
background: white;
border-radius:50%;
}

.g-mail{
  text-align: center;
  color:#5f6368;
}
.gerenciar{
  margin:16px 0 0;
  width:75%;
  border-radius:20px;
  border: solid 1px #e8eaed;
  font-size: 17px;
  text-align: center;
  position:relative;
  left:13%;
  padding: 5px 0 5px 0;
}

.gerenciar:hover{
  background: #F0F8FF;
}

.adicionar{
width:100%;
font-size: 18px;
border: solid 1px #e8eaed;
margin: 16px 0 16px;
text-align: center;
height:35px;
padding-top:5px;
padding-bottom: 12px;
}

.adicionar:hover{
  background: #F0F8FF;
}

.adc{
position: relative;
top:21%;
}

.divisao{
  height:50px;
  padding: 0 17px 0 17px;
  border-bottom: solid 1px #e8eaed;
}
.sair{
  margin:16px;
  width:30px;
  padding:10px 24px 10px 24px;
  border: solid 1px #e8eaed;
  position: absolute;
  right:35%;
  top:235px;
  border-radius:5px;
}

.sair:hover{
  background: #F0F8FF;
}

.border-top{
border-top: #e8eaed;
text-align: center;
padding-top:15px;
}

.privacidade{
text-align: left;
border-radius:4px;
padding:4px 8px;
}

.privacidade:hover{
  background: #F0F8FF;
}

.termos{
  text-align: right;
  border-radius: 4px;
  padding:4px 8px;
}

.termos:hover{
  background: #F0F8FF;
}

.decoration{
  text-decoration: none;
  color:#5f6368;
  outline: none;
}

/*fim-perfil*/

.position-top{
  position: relative;
  bottom:85%;
}

.link1{
  color:rgba(0,0,0,0.87);
  text-decoration:none;
  z-index:10;
  outline: none;
}
.link2{
  color:rgba(0,0,0,0.87);
  position: relative;
  text-decoration:none;
  z-index:4;
  left:10px;
  outline: none;
  }
.link1:hover{
  text-decoration: underline;
}
.link2:hover{
  text-decoration: underline;
}
/*inicio busca-logo-botões*/
/*limita espaço da busca e botões*/
.content-google{
  align-items: center;
  border:3px solid white;
  display: flex;
  flex-direction: column;
  height:250px;
	justify-content: center;
  margin:auto;
  margin-top:130px;
}

.z-index{
  z-index:9;
}
/*logo da google*/
.google {
  height: 92px;
  left: 40px;
  position: relative;
  top:-15px;
  width: 272px;
  z-index:7;
}

.busca {
  border: solid 1px #d9d9d9;
  border-radius: 25px;
  color:rgba(0,0,0,.87);
  font-size: 16px;
  height: 45px;
  left:20px; 
  padding-left:50px;
  position: relative;
  width: 587px;
}

/*borda do local de pesquisa*/
.busca:hover {
  border: solid 1px #d9d9d9;
  box-shadow: 1px 1px 2px #d9d9d9;
  box-shadow: 0px 0px 4px #d9d9d9;
}

.lupa { 
  filter:brightness(200%);/*deixando a imagen cinza*/
  height:18px;
  position:relative;
  right:560px;
  top:2px;
  width:18px;
}
/*title-teclado*/
.tooltip {
  display: inline-block;
  position: relative;
  right:-270px;
  top: -28px;
  z-index:7;
}

.tooltip .tooltiptext {
  background-color: #404040;
  color:white;
  padding: 5px 0;
  position: absolute;
  right:-108px;
  text-align: center;
  top: 30px;
  visibility: hidden;
  width: 230px;
}

.tooltip .tooltiptext::after {
  border-color: transparent transparent #404040 transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 115px;
  margin-left: -5px;
  position: absolute;
  top: -10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*fim title-teclado*/

.botao {
  background-color: #f2f2f2;
  border:#f2f2f2;
  border-bottom: #f2f2f2;
  border-radius: 5px;
  border-right: #f2f2f2;
  color: #666666;
  font-family: arial,sans-serif;
  font-size:15px;
  height:37px;
  margin: 11px 4px;
  margin-top:30px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  width:150px;
  z-index:7;
}

.botao:hover {
  color: black;
  border: solid 1px #a6a6a6;
  box-shadow: 0px 0px 1px;
}
/*fim busca-logo-botões*/

/*rodapé*/
.Brasil{
  background:#f2f2f2;
  border: solid 1px #e6e6e6;
  bottom:6%;
  color:gray;
  height:37px;
  position:absolute;
  width:100%;
  z-index:8;
}
.links{
  background:#f2f2f2;
  border: solid 1px #e6e6e6;
  bottom:0%;
  height:37px;
  position:absolute;
  width:100%;
  z-index:8;
}
.underline{
  color: gray;
  position: relative;
  text-decoration:none;
  top:10px;
  outline: none;
}
.underline:hover{
  text-decoration: underline;
}
.space1{
  position:relative;
  right:-30px;
  top: 10px;
  width:95%;
}
.space2{
  position:relative;
  right:-50px;
}
.space3{
  position:relative;
  right:-70px;
}
.space4{
  position:relative;
  right:-90px;
}
.space5{
  position:relative;
  right:-680px;
}
.space6{
  position:relative;
  right:-700px;
}
.space7{
  position:relative;
  right:-720px;
}

